# Dependencies
node_modules
.pnp
.pnp.js

# Environment variables
.env
.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Editor
.vscode
.idea
.DS_Store
dist
mcp_config.json
data/
